

.containerC {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
}

.containerC h1 {
    font-size: 2.5rem; 
    color: #0c0b0b;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.containerC h2 {
    font-size: 2rem; 
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.containerC p {
    font-size: 17px;
    color: #080808;
    line-height: 1.4;
    margin-bottom: 10px;
}

.containerC ul {
    list-style-type: disc;
    margin-left: 20px;
}

.containerC li {
    font-size: 1.2rem;
    color: #080808;
    margin-bottom: 10px;
}
.contenidoC li {
    font-size: 15px;
}
.navigation-barC a {
    font-size: 25px;
    line-height: 40px;

}
.enlacesC a {
    display: flex;
    text-decoration: none;
    color: brown;
    font-size: 25px;
    line-height: 40px;

}

.image-containerC img {
    filter: brightness(50%);
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 90px;
    margin-bottom: 0;

}
.image-containerC {
    position: relative;
}
.image-textC {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}
.image-textC h1{
    color: #fff;
}

.image-textC span {
    color: #fff;
    font-size: 20px;
}

.image-containerC img {
    filter: brightness(50%); 
}
.headerC{
    margin-bottom: 0;
}

 .navigation-barC {
    display: flex; 
    background-color: #333; 
    color: #fff;
    padding: 10px;
}

.navigation-barC a {
    color: #fff; 
    text-decoration: none;
    margin-right: 10px; 
}