
.cardB {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background: #fff;
    box-shadow: 0 1px 5px 5px #033f49;
    border-radius: 10px;
    transition: 0.1s;
    margin: 20px auto;
    max-width: 413px; 
    overflow: hidden;
  }
.contenedorB {
  display: grid;

}

  .img-cardB img {
    margin-top: 10px;
    border-radius: 2%;
  }
  
  .cardB:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 20px #033f49;
  }
  
  .cardB .contentB {
    padding: 10px 15px;
  }
  
  .cardB .contentB .titleB h3 {
    justify-content: center;
    text-align: center;
    color: #026e5e;
  }
  
  .cardB .contentB .titleB span {
    color: #0089ba;
    font-size: 12px;
  }
  
  .cardB .contentB .textB p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    color: black;
    justify-content: center;
    text-align: center;
  }
  
  .cardB .contentB .btn-containerB button {
    background: #0089ba;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    
  }

  .btn-containerB button {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .becas {
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
  }
  
  
  .cardB .contentB .btn-containerB button:hover {
    background: #017eac;
  }
  
  
  @media only screen and (max-width: 768px) {
    .cardB {
      flex-direction: column; 
      max-width: 100%; 
      margin: 10px auto; 
      margin-top: 40px;
    }
  
    .cardB .img-cardB {
      width: 100%;
    }
  
    .cardB .img-cardB img {
      width: 100%;
      height: auto;
      background-size: cover;
    }
  
    .cardB .contentB {
      width: 100%;
    }
  
    .cardB .contentB .titleB {
      margin-top: 10px; 
    }
  }
