


.contenedorU {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.imgUniversidades img {
    max-width: 100vw;
    max-height: 50vh;
    width: 100%; 
    height: auto;
    background-size: cover;
    background-position: center; 
}

.textoU {
    font-size: 24px;
    color: #02060a;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
    padding: 50px;
}


.universidades h2 {
    text-align: center;
    font-size: 50px;
    color: #e7302a;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;

}


.container-cardU {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1100px;
    margin: auto;
}

.cardU {
    width: calc(33.33% - 40px); 
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: pointer;  
    background-color: white;
}

.cardU:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.cardU figure {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.cardU img {
    max-width: 100%; 
    height: auto; 
    margin-top: 20px;
}


.contenido-cardU {
    padding: 15px;
    text-align: center;
    background-blend-mode: color;
    background-color: #fff;
}

.contenido-cardU h3 {
    margin-bottom: 20px;
    color: #892a19;
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    
}

.contenido-cardU p {
    line-height: 1.8;
    color: #221d1d;
    font-size: 17px;
    margin-bottom: 5px;
    font-family: 'Open sans', sans-serif;
}

.contenido-cardU a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #892a19;
    border: 1px solid #892a19;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.contenido-cardU a:hover {
    background: #892a19;
    color: #fff;
}

.enlaceU {
    text-decoration: none;
}
.academia {
    text-align: center;
}
.contenedorUR {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}
  

@media only screen and (min-width: 768px) {
    .container-cardU {
        width: 100%; 
    }

    .cardU {
        width: calc(33.33% - 40px);
        margin: 20px; 
    }


    .cardU:only-child {
        width: calc(100% - 40px); 
        margin: 20px; 
        
    }

    .contenido-cardU {
        padding: 15px; 
    }

    .contenido-cardU h3 {
        font-size: 24px; 
    }

    .contenido-cardU p {
        font-size: 17px; 
    }

    .contenido-cardU a {
        padding: 10px; 
    }
}

/* Estilos para dispositivos pequeños */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .container-cardU {
        width: 100%;
    }

    .cardU {
        width: calc(50% - 20px);
        margin: 10px;
    }

    .cardU:first-child {
        width: calc(100% - 20px); 
        margin: 10px; 
    }

    .contenido-cardU {
        padding: 10px;
    }

    .contenido-cardU h3 {
        font-size: 20px;
    }

    .contenido-cardU p {
        font-size: 14px;
    }

    .contenido-cardU a {
        padding: 8px;
    }
}
